{% extends 'base.html' %} {% block container %}
<div class="soe">

</div>

<div class="container">
   
   <div class="about">
      <div class="left">
         <h1>About us</h1>
         <hr>
         <h3>We are a group of four students currently pursuing Bachelor of Computer Engineering in Pokhara University. </h3>


      </div>
      <div class="right">
         <img src="https://previews.123rf.com/images/laracold/laracold1706/laracold170600016/80351479-creative-blood-motivation-information-donor-poster-blood-donation-world-blood-donor-day-banner-red-b.jpg">
      </div>
      <div class="clear"></div>
   </div>
   
   
   
   <div class="mission">
     
      <div class="left">
         <img src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/232/Red-Simple-Blood-Donation-Poster.png">
      </div>
        <div class="right">
         <h1>Project Goal</h1>
         <hr>
         <h4> The main aim of this project is to encourage and enroll as much persons as possible so that there will be a big enough database containing information of people all over Nepal which can be very useful in case of emergencies and like present pandemic situation, scarcity of blood. </h4>
         <br>
         <h1>Benifits of Blood Donation </h1>
         <h4>
1. reduce stress
</h4><h4>
2. improve your emotional well-being
</h4><h4>
3. benefit your physical health
help get rid of negative feelings
</h4><h4>
4. provide a sense of belonging and reduce isolation
</h4>

    

      </div>
      <div class="clear"></div>
      
   </div>
   
   
  
       <div class="team">
      <h1> Our Team<hr></h1>
          
          
          
      <div  class="card">
         <div class="circle-container">
            <h1 style="color:#fff;">M</h1>
         </div>
         <h2>Mohhamad Humayun</h2>
         <h4>Project Supervisor</h4>
         <p>Sir</p>
      </div>
     
     <div class="card">
         <div class="circle-container">
            <h1 style="color:#fff;">M</h1>
         </div>
         <h2>Maheshwor Acharya</h2>
         <h4>Developer</h4>
          <p>Basic skills in python (backend) , Html/CSS and React </p>
      </div>
          
          
          
      <div class="card">
         <div class="circle-container">
            <h1 style="color:#fff;">R</h1>
         </div>
         <h2>Dipak Sharma</h2>
         <h4>Developer</h4>
          <p>Cyber Security Researcher</p>
      </div>
          
          
          
      <div class="card">
        <div class="circle-container">
            <h1 style="color:#fff;">B</h1>
         </div>
         <h2>Ashish B.K</h2>
         <h4>Developer</h4>
          <p>Html ,CSS</p>
      </div>
          
          
          
          
      <div class="card">
        <div class="circle-container">
            <h1 style="color:#fff;">S</h1>
         </div>
         <h2>Atrip Limbu</h2>
         <h4>Developer</h4>
          <p>Html ,CSS</p>
      </div>
          
          
   </div>

   
</div>
<footer>
   <br>
   <p>Copyright ©2021. All rights reserved</p>
</footer>

{%  endblock %}
